.notification {

    width: auto;
    height: auto;
    margin: 0% 0% 0% 0%;
    border: 0;
}

a {

    text-decoration: none !important;
}

.hoverable:hover {
    background-color: #f5f5f5;
    /* Cambia esto al color que prefieras */
}