.details-lists .tableDetails-active {
    padding: 10px;
    width: 140% !important;
    height: 70% !important;
    
    /* background-color: aliceblue !important; */

}

.details-lists .tableDetails {
    display: none;

}

.tableDetails-active {

    width: 100vh;

}

.tableDetails-active #formContainer {

    width: 100vw !important;
    height: 100% !important;

}

.tableDetails {

    display: none;
}
