/* Estilos generales para el span */
.span {
    position: relative;
}

.nav-link {

    transition: all 0.5s;
    border-radius: 8px;
    color: rgba(0, 26, 78, 1);
    /* color: rgba(173, 181, 189, 1); */


}

.nav-link.active {
    color: rgb(148, 148, 148) !important;

}

/* Estilos para los ítems de navegación colapsados */
.nav-link:hover {

    transition: all 0.5s;
    border-radius: 8px;
    color: rgba(173, 181, 189, 1);

    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgba(248, 249, 250, 0.8); */

}


/* Estilos para el ícono dentro del span */
#fas {
    position: relative;
    width: 100%;
    top: 3px;
    font-size: 22px;
}

/* Estilos para los enlaces de navegación */


/* Estilos específicos para los ítems de navegación colapsados */
.myNav.collapsed .nav-item {
    display: flex;
    justify-content: center;
    transition: all 0.5s;
}



.myNav.expanded .nav-link span {
    padding-left: 2.5vh;
}

.myNav.collapsed .nav-link span {
    display: none;
}

.myNav:not(.expanded) .nav-item {
    justify-content: flex-start;
}