.span {
    position: relative;
}

.nav-item {

    border-radius: 8px;

    width: 100%;
    height: auto;

    padding: 1vh;
    margin: 1vh;
    box-sizing: border-box; 

    display: flex;
    align-items: center; 


}

#fas {
    position: relative;
    width: 100%;
    top: 3px;
    font-size: 22px;
}

.nav-link {

    color: grey;


}

.nav-link span {

    padding-left: 2.5vh;
}

.nav-link:hover {
    width: 100%;
    border-radius: 8px;

    color: #090057;

    transition: all 0.5s;
}