.details-lists-nav {

    display: flex;
    width: 140%;
}

.details-lists-nav .tabs-active {

    /* background-color: aliceblue; */
    border-top:solid 3px rgba(0, 26,78, 1);
}

.details-lists-nav a {

    /* background-color: aliceblue; */
    color: rgba(0, 26,78, 1);
}


.tabs-active {

    font-weight: bold;
    border-top: 1px solid rgba(0, 26,78, 1); 
    transition: all 0.5s;
}

.tabs {

    transition: all 0.3s;

}
