.input-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .1);
    position: relative;
    margin-left: 9px;
}

.input-label-active .placeholder-label {
    top: -18px;
    transform: translateY(0);
    font-size: 14px;
    color: #666;
}

input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000;
}

.placeholder-label {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #666;
    transform: translateY(0);
    transition: transform 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

input:focus+.placeholder-label {
    transform: translateY(-100%) scale(0.8);
    font-size: 15px;
    color: #000;
}

input:focus+.placeholder-label::before {
    transform: translateY(-100%) scale(0.8);
    font-size: 14px;
    color: #000;
}

.input-filled+.placeholder-label {
    transform: translateY(-100%) scale(0.8);
    font-size: 14px;
    color: #000;
}

select {
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    color: #000000;
    margin-inline-start: initial;
    width: 190px;
    padding-top: 12px;


}