.table-responsive {
    overflow-x: hidden;
}

.table {

    justify-content: center;
    width: 96%;
}

#detail {

    padding: 0 9% 0 9%;
}

@media (min-width: 992px) { 
    .table th {
      width: auto; 
    }
  }
  
  @media (max-width: 991px) { 
    .table th {
      width: 100%; 
    }
  }