.table-responsive {
    height: 70vh;
    /* min-height: 2.0rem; */
    /* max-height: 350px; */

    overflow-x: hidden;
    padding: 0 15px 0px 15px;
    /* background-color: white; */
}

#detail {

    padding: 0 10% 0 10%;
}