.logo {
    align-items: center;
    width: 135px;
    height: 145px;
    margin-bottom: 20px;
    margin-top: 10px;
}


#contenedorli {
    margin-top: 0.7px;
}

.nav-link:hover {
    background-color: #ec0000;
    color: #555;
}

.fe-menu {
    margin-top: 2px !important;
}