.container-spinner {
  height: 50vh; /* Utiliza el 100% de la altura de la ventana */
  width: 100%; /* Utiliza el 100% del ancho del contenedor */
  display: flex;
  align-items: center; /* Centra verticalmente */
  justify-content: center; /* Centra horizontalmente */
  position: relative; /* Establece la posición relativa para el contenedor */
}

.container-small-spinner {

  height: 15vh !important;
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
}