.rbc-btn-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.rbc-btn-group button {
    background-color: #ffffff;
    color: #000;
    font-size: 16px;
    border-radius: 7%;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

/* .rbc-btn-group button:hover {
    background-color: rgba(2, 45, 73, 0.781);
    color: #f5f5f5;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
} */

.rbc-header {
    /* background: linear-gradient(to right, #e6e6e6e3, #ebebebe8); */
    background-color: #f0f0f0;
    color: #000;
    font-weight: 700;
    text-align: center;
    padding: 10px 0;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
    font-family: 'Arial', sans-serif;
}

.rbc-day-bg.rbc-off-range-bg {
    background-color: #ffffff;

}

/* .rbc-day-bg {
    background-color: #ffffff;
    margin: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
} */


.rbc-toolbar-label {
    font-size: 1.3rem;
    font-weight: 700;
    color: #000000dc;
    margin-bottom: 20px;
}



.rbc-toolbar-label {
    text-transform: lowercase;
}

.rbc-toolbar-label::before {
    content: "Reserva / ";
    margin-left: 150px;
    text-transform: capitalize;

}

.rbc-button-link {
    color: #000000c0;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.3s ease;
}

.rbc-btn-group .rbc-active {
    height: 32px;

}

.rbc-header span[role="columnheader"] {
    font-size: 0.8rem;
    font-weight: bold;
    color: #000000;
    text-transform: capitalize;
}


.rbc-day-bg.rbc-today {
    background-color: #c4dce0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.308);
}


.rbc-event {
    background-color: #3472d4;
    color: white;
}

.rbc-overlay {
    width: 260px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}