* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.buttonStyle {
    color: #525252;
    text-decoration: none;
    font-size: 13px;
    color: rgb(25, 54, 73);
    font-weight: bold;
}

.buttonStyle:hover {
    color: rgb(21, 39, 51);
}

#placeholder-select {
    color: #525252;
    text-decoration: none;
}






.vertical .main-content:has(.container-login) {
    margin-left: 0 !important;
    padding: 0 !important;
}

.container-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    overflow: hidden;
    /* background-image:
        linear-gradient(to bottom right, rgb(21, 39, 51), rgba(2, 45, 73, 0.842)),
        radial-gradient(circle, rgba(21, 39, 51, 0.8), rgba(14, 44, 65, 0.705)); */
    background-color: rgb(237, 234, 231);

    background-size: cover;
    background-position: center;
}

.container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    margin: 10px;
}

.information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 3px #a8a8a8, 0 0 6px #a8a8a8, 0 0 9px #a8a8a8, 0 0 12px #a8a8a8;
    }

    50% {
        box-shadow: 0 0 6px #a8a8a8, 0 0 12px #a8a8a8, 0 0 16px #a8a8a8, 0 0 23px #a8a8a8;
    }

    100% {
        box-shadow: 0 0 3px #a8a8a8, 0 0 6px #a8a8a8, 0 0 9px #a8a8a8, 0 0 12px #a8a8a8;
    }
}


.informations {
    width: 45%;
    display: flex;
    align-items: center;
    text-align: center;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.640), rgba(0, 0, 0, 0.644)),
        url('../../../assets/apartments.jpg');
    background-size: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    backdrop-filter: blur(50px);
    animation: glowing 2s infinite;
}


.form-informations {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    text-align: center;
    background-color: #fffffff5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    animation: glowing 2s infinite;
}


.info-childs {
    width: 100%;
    padding: 0 10px;
    margin: 23px;
}

.info-childs h2 {
    font-size: 2.5rem;
    color: #ffffffcb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.loginp {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;

}

.message {
    color: #ffffff;
    margin-left: 55px;
    margin-right: 55px;
}

.registerp {
    margin: 14px;
    color: #555;
    padding-left: 20px;
    padding-right: 20px;
}

.info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px #6b6bcf;
    border-radius: 20px;
    padding: 10px 20px;
    color: #6b6bcf;
    cursor: pointer;
    transition: background-color .3s ease;
}

.info-childs input:hover {
    background-color: #6b6bcf;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.info-childs .logo {
    width: 185px;
    height: 185px;
    margin-bottom: -10px;

}

#boton {
    background-color: #6b6bcf;
    outline: none;
    border: solid 2px #6b6bcf;
    border-radius: 20px;
    padding: 10px 20px;
    color: #ffffff;
    cursor: pointer;
    transition: background-color .3s ease;
}

#boton:hover {
    background-color: #57578a;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #ffffff48;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}



.form-information-childs {
    padding: 0 25px;
}

.form-information-childs h2 {
    color: #333;
    font-size: 2rem;
}

.form-information-childs p {
    color: #555;
}

.form-information-childs .iconperson {
    width: 150px;
    height: 150px;
    margin-bottom: -15px;
}

/* .icons {
    margin: 15px 0;
} */

.form {
    margin: 15px 0 0;
}

.form-register {
    margin: 15px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.boton-register {
    background-color: #6b6bcf;
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 8px 5px;
    cursor: pointer;
    margin-top: 5px;
    width: 295px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    margin-bottom: 3px;


}

.boton-register:hover {
    background-color: #57578a;
}

.boton-login {
    background-color: rgba(25, 54, 73, 0.938);
    color: #fff;
    border-radius: 20px;
    border: none;
    padding: 8px 5px;
    cursor: pointer;
    margin-top: 3px;
    width: 210px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    margin-bottom: 5px;
    margin-left: 20px;

}

#sign-up {
    color: rgb(25, 54, 73);
    cursor: pointer;
    margin-left: 20px;
    font-weight: bold;

}


.boton-login:hover {
    background-color: rgb(21, 39, 51);
    ;
}

.hide {
    position: absolute;
    transform: translateY(-300%);
}


@media screen and (max-width:750px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width:580px) {
    html {
        font-size: 10px;
    }

    .container-form {
        height: auto;
        display: inline-block;
    }

    .information {
        width: 100%;
        padding: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0;
    }

    .form-information {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 100px;
        width: 55%;
        height: 90%;
        border-radius: 20px;

    }

    .form-register {
        justify-content: center;

    }

    .boton-register {
        width: 150px;
    }

}



@media (max-width: 750px) {
    .info-childs {
        display: none;

    }

    .form-information-childs {
        width: 500px;
        margin: 25px;
        border-radius: 20px;
    }

    .form-informations {
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 300px;
        width: auto;
        text-align: center;
        background-color: #ffffff;
        border-radius: inherit;
    }

    .information {
        background-color: transparent;
    }
}