.card-header-details {
    height: 10%;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Corregir aquí */
    margin-left: 5%;
    /* position: fixed; Quitar esto de aquí */
}

/* Agregar un contenedor adicional y aplicar position: fixed a ese contenedor */
.fixed-container {
    position: fixed;
    top: 0;
    width: 100%;
}

.container-module a {
    
    color: grey !important; 

}

.container-module .card-body {

    width: 90% !important;
    align-items: flex-start;
}

.container-module .info {

    display: flex;
}

.container-module .header {

    
}