.dropdown-menu {
    z-index: 1000 !important;
}

.myCard {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2) !important; /* Utiliza valores RGBA para el color gris difuminado */
}

/* .card-body {
    padding:  10px;
} */