.container-accordion {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: flex-start !important;
    align-content: flex-start !important;
    width: 100%;
}

.accordion-item {
    flex-basis: calc(29% - 8px);

}

.accordion-title {
    color: rgb(37, 37, 37);
    background: linear-gradient(90deg,
            rgba(4, 29, 58, 0.308) 0%,
            rgba(63, 118, 123, 0.521) 35%,
            rgba(0, 111, 155, 0.425) 100%);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.accordion-title:hover {
    background-color: #e0e0e0;
}

.accordion-title-text {
    font-weight: bold;
}

.accordion-content {
    display: none;
    padding: 15px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
}

.accordion-content.active {
    display: block;
}

.accordion-error {
    border: 1px solid rgb(233, 0, 0);
    border-radius: 13px;
}