.wrapper-notfound {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contents {
    text-align: center;
    color: #dddddd;
    max-width: 50%;
}

.titlen {
    font-size: 120px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subTitles {
    font-weight: bold;
    margin-bottom: 20px;
}

.linkl {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #ffffff;
    font-size: 18px;
}

.linkl:hover {
    background-color: #81b3e4;
    color: #fff;
    text-decoration: none;
}