

/* ===== Scrollbar CSS ===== */
/* Firefox */
/* * {
  scrollbar-width: auto;
  scrollbar-color: #e6e6e6 #ffffff;
} */

.justify-content-between {

  padding: 4vw 0vw 1vw 4vw ;
}

#form {

  padding: 0vw 5vw 10vw 5vw ;

}

/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 10px;
  border: 1px solid #e5edff;
} */

.botones {
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  flex-direction: column;
  margin-top: 1rem;
}