/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #e6e6e6 #ffffff;
}
#formContainer {
  border-radius: 15px;
  height: 90vh;
  margin: 5vh 25vh 5vh 25vh;
  min-width: 800px;
  max-width: 75vh;

  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: #e6e6e6 #ffffff; 
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 10px;
  border: 1px solid #e5edff;
}

.botones {
  display: flex;
  width: 100%;
  /* justify-content: space-around; */
  flex-direction: column;
  margin-top: 1rem;
}