/* ===== Scrollbar CSS ===== */
/* Firefox */
/* * {
  scrollbar-width: auto;
  scrollbar-color: #e6e6e6 #ffffff;
} */

.justify-content-between {

  padding: 4vw 0vw 1vw 4vw;
}

#form {

  padding: 0vw 5vw 10vw 5vw;

}



/* Chrome, Edge, and Safari */
/* *::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #e6e6e6;
  border-radius: 10px;
  border: 1px solid #e5edff;
} */

/* FormContainer.css */

/* FormContainer.css */

.botoness {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
}

.form-group {
  margin-right: 10px;
  margin-bottom: 20px;
}

.custom-btn,
.custom-btn-primary {
  padding: 10px 35px;
  font-size: 16px;


}

.custom-btn-primary {
  margin-right: 15px;
  margin-top: 10px;

}

.custom-btn {
  margin-top: 10px;
  background-color: rgb(207, 207, 207);
}